@import "../../global.scss";

.pillow-textfield {
  display: inline-flex;
  flex-direction: column;
  border-radius: $border-radius;
  padding: $padding-regular;
  width: fit-content;

  &--flat {
    @include box-shadow(
      "",
      var(--textfield-top-shadow-color),
      var(--textfield-bottom-shadow-color)
    );
  }

  &--pressed {
    @include box-shadow(
      "inset",
      var(--textfield-top-shadow-color),
      var(--textfield-bottom-shadow-color)
    );
  }

  &__title {
    margin: 0 0 $padding-regular 0;
  }

  &__textarea {
    background: var(--textfield-bg-color);
    padding: $padding-regular;
    min-width: 200px;
    border-radius: $border-radius;
  }
}

.pillow-textfield .pillow-textfield__textarea.pillow-textfield--flat {
  @include box-shadow(
    "inset",
    var(--textfield-top-shadow-color),
    var(--textfield-bottom-shadow-color)
  );
}

.pillow-textfield .pillow-textfield__textarea.pillow-textfield--pressed {
  @include box-shadow(
    "",
    var(--textfield-top-shadow-color),
    var(--textfield-bottom-shadow-color)
  );
}
