@import "../../global.scss";

.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: $border-radius-max;
  background-color: var(--badge-bg-color);
  color: var(--badge-text-color);
  text-align: center;
  padding: $padding-extrasmall;
  font-size: $font-size-small;
  min-width: 1.5rem;
  min-height: 1.5rem;
}

.flat {
  @include box-shadow(
    "",
    var(--badge-top-shadow-color),
    var(--badge-bottom-shadow-color)
  );
}

.pressed {
  @include box-shadow(
    "inset",
    var(--badge-top-shadow-color),
    var(--badge-bottom-shadow-color)
  );
}
