$color: #444;
$bg: #f2f3f7;

.pillow-badge {
  display: inline-flex;
  align-items: center;
  border-radius: 50%;
  background-color: $bg;
  color: $color;
  text-align: center;
  padding: 0.5rem;
  font-size: 12px;
  font-weight: 700;
  width: 15px;
  height: 15px;

  &--flat {
    box-shadow: 5px 5px 10px #e6e7eb, -5px -5px 10px #feffff;
  }

  &--pressed {
    box-shadow: inset 5px 5px 10px #e6e7eb, inset -5px -5px 10px #feffff;
  }
}
