$color: #444;
$bg: #f2f3f7;

.pillow-btn {
  border: none;
  border-radius: 3px;
  background-color: $bg;
  cursor: pointer;
  letter-spacing: 0.7px;
  color: $color;
  padding: 10px;
  font-weight: 700;
  text-align: center;
  transition: all 0.15s ease-in-out;

  // a tag styles
  text-decoration: none;
  display: inline-block;

  &--small {
    font-size: 12px;
    padding: 10px;
  }

  &--medium {
    font-size: 16px;
    padding: 10px 15px;
  }

  &--large {
    font-size: 20px;
    padding: 10px 20px;
  }

  &--flat {
    box-shadow: 4px 4px 8px #e6e7eb, -5px -5px 8px #feffff;
  }

  &--pressed,
  &:active {
    box-shadow: inset 4px 4px 8px #e6e7eb, inset -5px -5px 10px #feffff;
  }
}
