$color: #444;
$bg: #f2f3f7;

.pillow-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;

  &__header {
    font-size: 32px;
    margin: 0 0 20px 0;
  }

  &__label {
    font-size: 16px;
    color: #777;
    margin: 0 0 20px 0;
  }

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__list-item {
    padding: 10px;
    border-radius: 3px;

    &:not(:last-of-type) {
      margin-bottom: 20px;
    }

    &--flat {
      box-shadow: 4px 4px 8px #e6e7eb, -5px -5px 8px #feffff;
    }

    &--pressed {
      box-shadow: inset 4px 4px 8px #e6e7eb, inset -5px -5px 10px #feffff;
    }
  }
}
