@import "../../global.scss";

.pillow-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;

  &__header {
    margin: 0 0 $padding-regular 0;
  }

  &__label {
    margin: 0 0 $padding-regular 0;
  }

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: fit-content;
    min-width: 15rem;
  }

  &__list-item {
    padding: $padding-regular;
    border-radius: $border-radius;

    &:not(:last-of-type) {
      margin-bottom: $padding-regular;
    }

    &--flat {
      @include box-shadow(
        "",
        var(--list-item-top-shadow-color),
        var(--list-item-bottom-shadow-color)
      );
    }

    &--pressed {
      @include box-shadow(
        "inset",
        var(--list-item-top-shadow-color),
        var(--list-item-bottom-shadow-color)
      );
    }
  }
}
