@import "../../global.scss";

.pillow-list {
  display: flex;
  flex-direction: column;
  width: fit-content;
  max-width: 100%;
  border-radius: $border-radius;
  padding: $padding-regular;
  color: var(--list-item-text-color);

  &--flat {
    @include box-shadow(
      "",
      var(--list-item-top-shadow-color),
      var(--list-item-bottom-shadow-color)
    );
  }

  &--pressed {
    @include box-shadow(
      "inset",
      var(--list-item-top-shadow-color),
      var(--list-item-bottom-shadow-color)
    );
  }

  &__header {
    margin: 0 0 $padding-regular 0;
    max-width: 20rem;
  }

  &__label {
    margin: 0 0 $padding-regular 0;
    max-width: 20rem;
  }

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: fit-content;
    min-width: 20rem;
    border-radius: $border-radius;

    &--flat {
      @include box-shadow(
        "inset",
        var(--list-item-top-shadow-color),
        var(--list-item-bottom-shadow-color)
      );
    }

    &--pressed {
      @include box-shadow(
        "",
        var(--list-item-top-shadow-color),
        var(--list-item-bottom-shadow-color)
      );
    }
  }

  &__list-item {
    padding: $padding-regular;

    &:not(:last-child) {
      border-bottom: 1px solid var(--list-item-top-shadow-color);
    }
  }
}
