@import "../../global.scss";

.container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  max-width: 100%;
  padding: $padding-regular;
  border-radius: $border-radius;
  background-color: var(--container-bg-color);
  color: var(--container-text-color);
}

.full {
  width: 100%;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.left.row {
  align-items: flex-start;
}

.left.column {
  align-items: flex-start;
}

.center.row {
  align-items: center;
}

.center.column {
  align-items: center;
}

.right.row {
  align-items: flex-end;
}

.right.column {
  align-items: flex-end;
}

.flat {
  @include box-shadow(
    "",
    var(--container-top-shadow-color),
    var(--container-bottom-shadow-color)
  );
}

.pressed {
  @include box-shadow(
    "inset",
    var(--container-top-shadow-color),
    var(--container-bottom-shadow-color)
  );
}
