$color: #444;
$bg: #f2f3f7;

.pillow-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  padding: 20px;

  &--flat {
    box-shadow: 4px 4px 8px #e6e7eb, -5px -5px 8px #feffff;
  }

  &--pressed {
    box-shadow: inset 4px 4px 8px #e6e7eb, inset -5px -5px 10px #feffff;
  }
}
