@import "../../global.scss";

.pillow-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  padding: $padding-regular;

  &--flat {
    @include box-shadow(
      "",
      var(--container-top-shadow-color),
      var(--container-bottom-shadow-color)
    );
  }

  &--pressed {
    @include box-shadow(
      "inset",
      var(--container-top-shadow-color),
      var(--container-bottom-shadow-color)
    );
  }
}
