@import "../../global.scss";

.pillow-toast {
  display: flex;
  align-items: center;
  border-radius: $border-radius;
  padding: $padding-regular;
  width: fit-content;

  &--flat {
    @include box-shadow(
      "",
      var(--toast-top-shadow-color),
      var(--toast-bottom-shadow-color)
    );
  }

  &--pressed {
    @include box-shadow(
      "inset",
      var(--toast-top-shadow-color),
      var(--toast-bottom-shadow-color)
    );
  }

  &__title {
    margin: 0 $padding-regular 0 0;
  }
}
