@import "../../global.scss";

.pillow-alert {
  position: relative;
  display: inline-flex;
  align-items: center;
  border-radius: $border-radius;
  background-color: var(--alert-bg-color);
  cursor: pointer;
  letter-spacing: $letter-spacing;
  color: var(--alert-text-color);
  padding: $padding-regular;
  width: fit-content;
  max-width: 100%;

  svg {
    min-width: $icon-size-regular;
    min-height: $icon-size-regular;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__icon {
    margin-right: $padding-regular;
  }

  &__close {
    position: absolute;
    top: 50%;
    right: $padding-regular;
    margin: 0;
    transform: translateY(-50%);

    + .pillow-alert__content {
      margin-right: calc($padding-regular + $icon-size-regular);
    }
  }

  &--flat {
    @include box-shadow(
      "",
      var(--alert-top-shadow-color),
      var(--alert-bottom-shadow-color)
    );
  }

  &--pressed {
    @include box-shadow(
      "inset",
      var(--alert-top-shadow-color),
      var(--alert-bottom-shadow-color)
    );
  }
}
