$color: #444;
$bg: #f2f3f7;

.pillow-alert {
  display: inline-flex;
  align-items: flex-start;
  border-radius: 3px;
  background-color: $bg;
  cursor: pointer;
  letter-spacing: 0.7px;
  color: $color;
  padding: 10px;

  &__heading {
    font-weight: 700;
  }

  svg {
    min-width: 26px;
    min-height: 26px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0 0 10px;
  }

  &--flat {
    box-shadow: 4px 4px 8px #e6e7eb, -5px -5px 8px #feffff;
  }

  &--pressed {
    box-shadow: inset 4px 4px 8px #e6e7eb, inset -5px -5px 10px #feffff;
  }
}
