@import "../../global.scss";

.pillow-alert {
  display: inline-flex;
  align-items: flex-start;
  border-radius: $border-radius;
  background-color: var(--alert-bg-color);
  cursor: pointer;
  letter-spacing: $letter-spacing;
  color: var(--alert-text-color);
  padding: $padding-regular;

  svg {
    min-width: $icon-size-regular;
    min-height: $icon-size-regular;
    padding: 0 $padding-regular 0 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &--flat {
    @include box-shadow(
      "",
      var(--alert-top-shadow-color),
      var(--alert-bottom-shadow-color)
    );
  }

  &--pressed {
    @include box-shadow(
      "inset",
      var(--alert-top-shadow-color),
      var(--alert-bottom-shadow-color)
    );
  }
}
