@import "../../global.scss";

.chip {
  display: inline-flex;
  align-items: center;
  border-radius: $border-radius-max;
  background-color: var(--chip-bg-color);
  color: var(--chip-text-color);
  text-align: center;
  padding: $padding-small;
  font-size: $font-size-regular;
  letter-spacing: $letter-spacing;
  width: fit-content;
}

.flat {
  @include box-shadow(
    "",
    var(--chip-top-shadow-color),
    var(--chip-bottom-shadow-color)
  );
}

.pressed {
  @include box-shadow(
    "inset",
    var(--chip-top-shadow-color),
    var(--chip-bottom-shadow-color)
  );
}
