// General Global Styles
$border-radius: 8px;
$border-radius-max: 999rem;

$padding-extrasmall: 0.25rem;
$padding-small: 0.5rem;
$padding-regular: 0.75rem;
$padding-large: 1rem;

$letter-spacing: 0.05rem;

$icon-size-small: 1rem;
$icon-size-regular: 1.5rem;
$icon-size-large: 2rem;

$font-size-small: 0.75rem;
$font-size-regular: 1rem;
$font-size-large: 1.25rem;

$transition-fast: all 0.1s ease-in-out;
$transition-regular: all 0.2s ease-in-out;

// Box Shadows
@mixin box-shadow($inset, $top-shadow-color, $bottom-shadow-color) {
  @if $inset == "inset" {
    -webkit-box-shadow: inset 8px 8px 18px $top-shadow-color,
      inset -8px -8px 18px $bottom-shadow-color;
    -moz-box-shadow: inset 8px 8px 18px $top-shadow-color,
      inset -8px -8px 18px $bottom-shadow-color;
    box-shadow: inset 8px 8px 18px $top-shadow-color,
      inset -8px -8px 18px $bottom-shadow-color;
  } @else {
    -webkit-box-shadow: 2px 4px 10px $top-shadow-color,
      -4px -8px 10px $bottom-shadow-color;
    -moz-box-shadow: 2px 4px 10px $top-shadow-color,
      -4px -8px 10px $bottom-shadow-color;
    box-shadow: 2px 4px 10px $top-shadow-color,
      -4px -8px 10px $bottom-shadow-color;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin: 0;
}

p {
  margin: 0;
}

button,
a {
  cursor: pointer;
  font-weight: bold;
}

button {
  border: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

textarea {
  border: none;
}
