@import "../../global.scss";

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: $border-radius-max;
  background-color: var(--iconb-bg-color);
  color: var(--iconb-text-color);
}

.btn svg {
  height: 75%;
  width: 75%;
  fill: var(--iconb-text-color);
  stroke: var(--iconb-text-color);
}

.small {
  width: 20px;
  height: 20px;
}

.medium {
  width: 26px;
  height: 26px;
}

.large {
  width: 32px;
  height: 32px;
}

.flat {
  @include box-shadow(
    "",
    var(--iconb-top-shadow-color),
    var(--iconb-bottom-shadow-color)
  );
}

.pressed {
  @include box-shadow(
    "inset",
    var(--iconb-top-shadow-color),
    var(--iconb-bottom-shadow-color)
  );
}
